<html>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">
                          <img src="C:/Users/DELL/Desktop/NCOE system/nemis sis logo1.PNG" class="logo">
                        </a>
                        <span class="navbar-brand">Sport Details Submission</span>
                    </div>
                </div>
            </nav> 

   <form>


    <table id="t01">
        
    <tr>
      <th>Year</th>
      <th>Ministry which issue the Certificate</th>
      <th>Level of Performance</th>
      <th>Sport</th>
      <th>Place that Won</th>
      <th>Marks</th>
    </tr>
    
    <tr>
      <td>
        <input type="number" class="form-control" id="sYear" name="sYear" placeholder="****">
      </td>
      <td>
        <input type="varchar" class="form-control" id="sMinistry" name="sMinistry" placeholder="Ministry Name">
      </td>
      <td>
        <input type="varchar" class="form-control" id="sPerformance" name="sPerformance" placeholder="Performance Level">
      </td>
      <td>
        <input type="varchar" class="form-control" id="sport" name="sport" placeholder="sport">
      </td>
      <td>
        <input type="varchar" class="form-control" id="sPlace" name="sPlace" placeholder="Place">
      </td>
      <td>
        <input type="number" class="form-control" id="sMarks" name="sMarks" placeholder="Marks">
      </td>
    </tr>


    <tr>
        <td>
          <input type="number" class="form-control" id="sYear" name="sYear" placeholder="****">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sMinistry" name="sMinistry" placeholder="Ministry Name">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPerformance" name="sPerformance" placeholder="Performance Level">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sport" name="sport" placeholder="sport">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPlace" name="sPlace" placeholder="Place">
        </td>
        <td>
          <input type="number" class="form-control" id="sMarks" name="sMarks" placeholder="Marks">
        </td>
      </tr>


      <tr>
        <td>
          <input type="number" class="form-control" id="sYear" name="sYear" placeholder="****">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sMinistry" name="sMinistry" placeholder="Ministry Name">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPerformance" name="sPerformance" placeholder="Performance Level">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sport" name="sport" placeholder="sport">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPlace" name="sPlace" placeholder="Place">
        </td>
        <td>
          <input type="number" class="form-control" id="sMarks" name="sMarks" placeholder="Marks">
        </td>
      </tr>


      <tr>
        <td>
          <input type="number" class="form-control" id="sYear" name="sYear" placeholder="****">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sMinistry" name="sMinistry" placeholder="Ministry Name">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPerformance" name="sPerformance" placeholder="Performance Level">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sport" name="sport" placeholder="sport">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPlace" name="sPlace" placeholder="Place">
        </td>
        <td>
          <input type="number" class="form-control" id="sMarks" name="sMarks" placeholder="Marks">
        </td>
      </tr>


      <tr>
        <td>
          <input type="number" class="form-control" id="sYear" name="sYear" placeholder="****">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sMinistry" name="sMinistry" placeholder="Ministry Name">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPerformance" name="sPerformance" placeholder="Performance Level">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sport" name="sport" placeholder="sport">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPlace" name="sPlace" placeholder="Place">
        </td>
        <td>
          <input type="number" class="form-control" id="sMarks" name="sMarks" placeholder="Marks">
        </td>
      </tr>


      <tr>
        <td>
          <input type="number" class="form-control" id="sYear" name="sYear" placeholder="****">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sMinistry" name="sMinistry" placeholder="Ministry Name">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPerformance" name="sPerformance" placeholder="Performance Level">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sport" name="sport" placeholder="sport">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPlace" name="sPlace" placeholder="Place">
        </td>
        <td>
          <input type="number" class="form-control" id="sMarks" name="sMarks" placeholder="Marks">
        </td>
      </tr>


      <tr>
        <td>
          <input type="number" class="form-control" id="sYear" name="sYear" placeholder="****">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sMinistry" name="sMinistry" placeholder="Ministry Name">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPerformance" name="sPerformance" placeholder="Performance Level">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sport" name="sport" placeholder="sport">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPlace" name="sPlace" placeholder="Place">
        </td>
        <td>
          <input type="number" class="form-control" id="sMarks" name="sMarks" placeholder="Marks">
        </td>
      </tr>


      <tr>
        <td>
          <input type="number" class="form-control" id="sYear" name="sYear" placeholder="****">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sMinistry" name="sMinistry" placeholder="Ministry Name">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPerformance" name="sPerformance" placeholder="Performance Level">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sport" name="sport" placeholder="sport">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPlace" name="sPlace" placeholder="Place">
        </td>
        <td>
          <input type="number" class="form-control" id="sMarks" name="sMarks" placeholder="Marks">
        </td>
      </tr>


      <tr>
        <td>
          <input type="number" class="form-control" id="sYear" name="sYear" placeholder="****">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sMinistry" name="sMinistry" placeholder="Ministry Name">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPerformance" name="sPerformance" placeholder="Performance Level">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sport" name="sport" placeholder="sport">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPlace" name="sPlace" placeholder="Place">
        </td>
        <td>
          <input type="number" class="form-control" id="sMarks" name="sMarks" placeholder="Marks">
        </td>
      </tr>

      <tr>
        <td>
          <input type="number" class="form-control" id="sYear" name="sYear" placeholder="****">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sMinistry" name="sMinistry" placeholder="Ministry Name">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPerformance" name="sPerformance" placeholder="Performance Level">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sport" name="sport" placeholder="sport">
        </td>
        <td>
          <input type="varchar" class="form-control" id="sPlace" name="sPlace" placeholder="Place">
        </td>
        <td>
          <input type="number" class="form-control" id="sMarks" name="sMarks" placeholder="Marks">
        </td>
      </tr>

    </table>
    </form>

    <div class="form-group"> <!-- Go to results submission1(O/L) -->
        <button type="submit2" class="btn btn-primary">SUBMIT</button>
      </div>